<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.metisinfo.sharingcharger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--블루투스 사용-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--앱 위치 허용-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STAT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="kr.co.metisinfo.sharingcharger.base.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon512"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_icon512"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:roundIcon">

        <!-- 카카오앱 키 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="8c076cd238736c78c5f2a703adf2c1ff" />

        <!-- 웹뷰 및 위치 서비스 사용하지 않는 경우 설정 -->
        <meta-data
            android:name="com.kakao.sdk.kakaonavi.useWebView"
            android:value="false" />

        <activity android:name="kr.co.metisinfo.sharingcharger.view.activity.IntroActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ChangePasswordActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- FindIdActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.FindIdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- PasswordResetActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.PasswordResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- SettingActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- SignInActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- SignUpActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- MainActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- OwnerActivity -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.OwnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 예약진행 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.charger.ChargerReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 충전기 조건검색 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.MarkerSearchConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 키워드 검색 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.SearchKeywordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 전자지갑 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.digitalWalletManagement.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 전자지갑 - 포인트구매 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.PurchaseWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 충전기 검색 다이얼로그 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.ChargerDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />

        <!-- 충전기 검색 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.charger.ChargerSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- BLE 충전 화면 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.BLEChargingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 즐겨찾기 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.userManagement.ChargerFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 충전기 이력 화면 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.charger.ChargerUseHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 포인트 이력 화면 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.digitalWalletManagement.PointUseHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 이력 조건 검색 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.HistorySearchConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 관리자 페이지 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.AdminMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- 관리자 이달의 수익 포인트 -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.AdminMonthlyProfitPointActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <!-- WebView -->
        <activity
            android:name="kr.co.metisinfo.sharingcharger.view.activity.WebViewActivity"
            android:theme="@style/AppThemeNoActionBarTransparent" />

        <activity
            android:name=".ble.BleTestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ble.SampleWebView"
            android:screenOrientation="portrait"/>

        <activity android:name=".ble.ScanActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>